.swiper-slide-active > div {
  /* border: 1px solid #38b6ff; */
}

.swiper-slide.swiper-slide-active .plan-name {
  background-color: #38b6ff;
  color: #ebf2f5;
}

.swiper-slide .plan-name {
  background-color: #dce7ed;
  color: #353f46;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  height: 100%;
  width: 80px;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  right: 0;
  transform: rotate(180deg);
}

.swiper-button-prev {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url(../../../../../../../../assets/images/icons/arrow.svg);
  cursor: pointer;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8px;
  bottom: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #38b6ff !important;
}

@media screen and (max-width: 768px){
  .swiper-button-prev,
  .swiper-button-next {
    background: none;
  }

  .swiper-button-next{ 
    right: -2.25rem;
  }

  .swiper-button-prev {
    left: -2.25rem;
  }
}
